@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-surface-950: #0c2327;
  --color-surface-900: #1c3b3f;
  --color-surface-800: #1f4a50;
  --color-surface-700: #225c63;
  --color-surface-600: #26737b;
  --color-on-surface: white;

  --color-primary-500: #4e7e8c;
  --color-primary-600: #436977;
}

html,
body {
  height: 100%;
  min-height: 100%;
  background: var(--color-surface-950);
}

body {
  color: #fdfdfd;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

input {
  color-scheme: dark;
}